/* General Styles **********************************/

body, html {
  height: 100%;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}


.btn {
  display: inline-block;
  background: #333;
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid #666;
  margin: 0.5em 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:hover {
  background: #eaeaea;
  color: #333;
}

/* Header Showcase **********************************/

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%;
}

#navbar {
  margin: 0;
  background-color: #333; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: -70px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Style the navbar links */
#navbar a {
  margin: 0;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#showcase {
  height: 75%;
  color: #fff;
  text-align: center;
}

#showcase .bg-image {
  position: absolute;
  background: #333
  url("https://images.pexels.com/photos/38070/pexels-photo-38070.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 75%;
  opacity: 0.4;
  z-index: -1;
}

#showcase h1 {
  padding-top: 100px;
  padding-bottom: 0;
}

#showcase .content-wrap,
#section-a .content-wrap {
  padding: 0 1.5em;
}

/* Section A **********************************/

#section-a {
  background: #eaeaea;
  color: #333;
  padding-bottom: 2em;
}

/* Section B **********************************/


#articulo-2 {
  background-color: #444;
  padding-top: 10px;
}

#articulo-3 {
  background-color: #555;
  padding-top: 10px;
}

.section-b {
  padding: 0em 2em 1em;
}

.section-b h2{
  padding-top: 40px;
}

.section-b ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-b li {
  margin-bottom: 1em;
  background: #fff;
  color: #333;
}

.card-content {
  padding: 1.5em;
}

/* Section C **********************************/

#section-c {
  background: #fff;
  color: #333;
  padding: 2em;
}

/* Section D / Boxes **********************************/

#section-d .box {
  padding: 2em;
  color: #fff;
}

#section-d .box:first-child {
  background: #666;
}
#section-d .box:last-child {
  background-color: #fff;
}

/* SECCION CARD SLIDER **********************************/

#articulo-2 {
  margin: 0;
  padding: 0;
}

.card-slider {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  overflow-x: auto;
  background-color: #333;
}

.card-slider .card-2{
  width: 100%;
  display:  inline-block;
  background-color: #fff;
  color: #333;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.card-slider .card-content-2 {
  width: 700px;
  padding: 0;
}

.card-slider::-webkit-scrollbar {
  display: none;
}


/* Footer **********************************/

#main-footer {
  padding: 2em;
  background: #000;
  color: #fff;
  text-align: center;
}

#main-footer a {
  color: #666;
  text-decoration: none;
}



/* Media Queries **********************************/

/* STYLE FOR VERTICAL DEVICES (Selfphones, tablets...)
dispositivos que se leen en vertical
*/
@media (max-aspect-ratio: 12/9) {

  #articulo-2 {
    padding: 0;
    margin: 0;
  }

  #showcase{
    height: 100%;
  }

  #showcase .bg-image {
    height: 100%;
  }

  #showcase .content-wrap{
    text-align: center;
    padding-top: 15%;
    color: white;
    font-size: 3em;
  }
  @media (max-width: 720px){
    .card-slider .card-content-2 {
      width: 500px;
      padding: 0;
    }
  }
}


/* STYLE FOR HORIZONTAL DEVICES (laptops and PCs)
dispostivos que se leen en horizontal
*/

@media (min-aspect-ratio: 12/9){

  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }
  @media (max-width: 1400px){
    .card-slider .card-content-2 {
      width: 300px;
      padding: 0;
    }
  }
  @media (min-width: 1401px){
    .card-slider .card-content-2 {
      width: 400px;
      padding: 0;
    }
  }

  .card-slider .card{
    background-color: #fff;
    color: #333;
    margin: 10px;
    min-width: 30%;
    padding: 10px;
  }

  #section-a .content-text {
    columns: 2;
    column-gap: 2em;
  }

  #section-a .content-text p {
    padding-top: 0;
  }

  .content-wrap,
  .section-b ul {
    grid-column: 2/4;
  }

  .box,
  #main-footer div {
    grid-column: span 2;
  }

  .section-b {
  }

  .section-b h2{
    width: 100%;
    padding: 0;
    margin-top: 40px;
  }

  .section-b ul {
    display: flex;
    justify-content: space-around;
  }

  .section-b li {
    width: 30%;
  }

  #section-c {
    display: flex;
    justify-content: space-around;
  }
}

/* STYLE FOR VERY LARGE DEVICES */



/* Formulario **********************************/

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  color: black;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 1.5em;
}

.container textarea {
  height: 200px;
}
